.DS_Store
node_modules
/dist
/.firebase
/db/migrations/*
/db/seeds/*
.firebaserc

# local env files
.env.local
.env.*.local
knexfile.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?